/* style of all the content at home */
body>div.home {
    text-align: center;
}

body>div.home>h4 {
    margin: var(--margin);
}

/* slide show */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev {
        font-size: 11px
    }

    .next {
        font-size: 11px
    }
}

/* 私たちについて */
body>div>div.about-us {
    margin: 100px 0;
}

body>div>div.about-us>h1 {
    color: var(--text-color-value);
    font-size: 35px;
    margin: 40px;
}

body>div>div.about-us>h1>span:nth-child(2) {
    color: #171c61;
}

/* 経験 */
body>div>div>div.content-holder>h2 {
    color: var(--text-color-value);
}

body>div>div>div.content-holder>div.card {
    display: inline-block;
    max-width: 250px;
    border: 1px solid #c5c5c5;
    margin: var(--margin);
}

body>div>div>div.content-holder>div>div:nth-child(1)>img {
    max-width: 70%;
}

body>div>div>div.content-holder>div>div:nth-child(2)>p {
    padding: var(--margin);
}

body>div>div>div.content-holder>div.see-more>p>a>span {
    font-size: 24px;
}