{% extends 'base_layout.html' %}
{% load static%}


{% block head_tag %}
<title>ホーム</title>
<meta name="description" content="ES creative 工事株式会社はリフォーム工事から外壁塗装
お家の工事なら全てこなす会社です。">
<meta name="keywords" content="ES creative 工事株式会社 リフォーム工事 外壁塗装">
<link rel="stylesheet" href="{%static '/css/home.css'%}">
{% endblock head_tag %}

{% block content %}
<div class="home">
    <h1>ES creative工業株式会社よりお知らせです</h1>
    <h4>お世話になっております。<br> 只今、自社ウェブサイトのメンテナンスを行っております。<br>多大なご迷惑をかけておりますことお浴び申し上げます。<br>またの機会にお越しください。</h4>

</div>
{% endblock content %}