{% extends 'base_layout.html' %}
{% load static%}


{% block head_tag %}
<title>古物商許可証</title>
<meta name="description" content="ES creative 工事株式会社はリフォーム工事から外壁塗装
お家の工事なら全てこなす会社です。我が社の古物商許可証はこちらになります。">
<meta name="keywords" content="ES creative 工事株式会社 リフォーム工事 外壁塗装　古物商許可証　資格　許可">
<link rel="stylesheet" href="{%static '/css/kobutsusho.css'%}">
{% endblock head_tag %}

{% block content %}
<div class="kobutsusho">
    <h1>ES creative工業株式会社</h1>
    <h4>お世話になっております。<br>我が社の古物商許可証は<a href="https://www.pref.saitama.lg.jp/kouaniinkai/kobutu/kobutu-gyousya-a2.html">こちら</a>の169番目になります。<br>許可証の番号は第431270053064号です。</h4>

</div>
{% endblock content %}